html {
    font-family: 'Roboto Mono', monospace;
    background-color:  #84E4F7;
    overflow-x: hidden;
    
}

#ai {
    align-items: center;
    width: 100%;
}

#godel {
  width: 50%;
  height: 50%;
}

.author {
    text-align: center;
}

html,
body,
.container {
  height: 100%;
  width: 100%;
}
.container {
    display: flex;
    justify-content: center;
}
.content {
    width: 50%;
    margin-bottom: 24px;
  }

.p-start {
    font-size: 48px;
}

.quote {
    background: #5ADEFF;
    border-left: 10px solid #00BDFE;
    border-radius: 8px;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  .quote:before {
    color: #D8F2FF;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
 .quote p {
    display: inline;
  }