html {
    font-family: 'Roboto Mono', monospace;
}

.author {
    text-align: center;
}

html,
body,
.container {
  height: 100%;
  width: 100%;
}
.container {
    display: flex;
    justify-content: center;
}
.content {
    width: 50%;
  }
